.archive-filter {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 102px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    box-shadow: 0.052px 0.999px 11.83px 1.17px rgba(99, 99, 99, 0.13);
    margin-bottom: 37px;
    .button {
        display: block;
        max-width: 174px;
        padding: 12px;
        font-weight: 300;
        font-size: 14px;
        margin-left: auto;
        margin-right: -50px;
    }
}

.filter-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-column-2 {
    width: 45%;
}

.filter-column-3 {
    width: 30%;
}

.filter-row {
    margin-bottom: 25px;
    .filter-label {
        display: block;
        font-family: $helvetica;
        font-weight: 300;
        font-size: 16px;
        color: #3b404d;
        margin-bottom: 18px;
    }
    .filter-select, .filter-field {
        display: block;
        width: 100%;
        height: 39px;
        padding: 6px 15px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        color: rgba(52, 52, 52, 0.68);
        outline: none;
    }
    .filter-select {
        padding-right: 35px;
        appearance: none;
        background: url('../img/icon-select-arrow.svg') no-repeat calc(100% - 10px) center;
    }
    .filter-field-count {
        width: 104px;
    }
    input {
        &[type='date'] {
            background: url('../img/icon-calendar.png') no-repeat calc(100% - 13px) center;
            appearance: none;
            &::-webkit-inner-spin-button {
                display: none;
            }
        }
    }
    .custom-checkbox-text {
        margin-left: 16px;
    }
}

.filter-range {
    display: flex;
    flex-wrap: wrap;
    .filter-label {
        font-size: 14px;
        margin-bottom: 0;
        margin-right: 15px;
    }
    .filter-field {
        width: 70%;
    }
}

.filter-range-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

.filter-row-wide {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    .custom-checkbox {
        margin-right: 75px;
    }
    .custom-checkbox-text {
        font-family: $helvetica;
        font-weight: 300;
        font-size: 16px;
        color: #3b404d;
        margin-right: 70px;
    }
}

@media (max-width: 1199px) {

    .archive-filter {
        padding-right: 45px;
        .button {
            margin-right: 18px;
        }
    }

    .filter-row-wide {
        .custom-checkbox-text {
            margin-right: 20px;
        }
    }

    .filter-column-3 {
        width: 45%;
    }
}

@media (max-width: 991px) {

    .archive-filter {
        padding-left: 30px;
        padding-right: 30px;
    }

    .filter-column-2 {
        width: 48%;
    }

    .filter-row-wide {
        .custom-checkbox {
            margin-right: 25px;
        }
    }
}

@media (max-width: 767px) {

    .filter-columns {
        flex-direction: column;
    }

    .filter-column-2, .filter-column-3 {
        width: 100%;
    }

    .filter-row-wide {
        flex-direction: column;
        .custom-checkbox {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 575px) {

    .archive-filter {
        padding-left: 15px;
        padding-right: 15px;
        .button {
            margin: 0 auto;
        }
    }

    .filter-row {
        margin-bottom: 15px;
        .filter-label {
            margin-bottom: 10px;
        }
    }

    .filter-range-column {
        width: 100%;
        &:first-child {
            margin-bottom: 10px;
        }
    }

    .filter-range {
        .filter-field {
            width: auto;
            max-width: 100%;
            flex-grow: 1;
        }
    }

    .filter-row-wide {
        .custom-checkbox-text {
            flex-grow: 1;
        }
    }

    .filter-column-2 {
        margin-bottom: 15px;
    }

    .filter-row-wide {
        margin-bottom: 30px;
    }
}