.popup .errors{
	color: red;
}
.popup .error{
	border-color: red;
}
.popup .info{
	color: #0088ff;
	text-align: center;
}
#registration .popup-form-input{
	position: relative;
}
#registration .popup-form-input:nth-child(3)::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 5px;
	transition: width .5s;
}
.popup-form-input:after{
	width: 0;
}
.popup-form-input.bad:after{
	background-color: red;
	width: 20%;
}
.popup-form-input.normal:after{
	background-color: yellow;
	width: 40%;
}
.popup-form-input.good:after{
	background-color: yellow;
	width: 65%;
}
.popup-form-input.strong:after{
	background-color: green;
	width: 100%;
}
.calculator-form-wrapper span.wpcf7-form-control-wrap{
	width: calc(100% - 155px);
}
.calculator-form-wrapper span.wpcf7-form-control-wrap input,.calculator-form-wrapper span.wpcf7-form-control-wrap textarea{
	width: 100%;
}
.error-message .text-error{
	color: red;
}
.error-message .text-success{
	color: green;
}
.bl-pagenavi{
	text-align: center;
}
.bl-pagenavi li{
	display: block;
	float: left;
	background: #fff;
	color: #000;
}
.bl-pagenavi ul{
	list-style: none;
	display: inline-block;
}
.bl-pagenavi li a,.bl-pagenavi li span{
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border:1px solid #999;
}
.bl-pagenavi li a{
	cursor: pointer;
	text-decoration: none;
	color: #666;
}
.bl-pagenavi li.noactive{
	background: #9dce5a;
	color: #fff;
}
.personal-navigation-avatar img{
	height: 100%;
}
.btn-file-image{
	display: none;
}
.about-news-add{
	min-height: 23px;
}
.help-container p, .help-container ul, .help-container ol{
	padding-left: 60px;
	padding-right: 60px;
}
.help-container ul li{
	position: relative;
	padding-left: 20px;
}
.help-container ol li{
	margin-left: 20px;
}

.help-container ul li::before{
	content: '-';
	position: absolute;
	left: 5px;
}
.help-container ul{
	list-style: none;
}
.help-container li{
	font-family: "HelveticaNeueCyr";
	font-weight: 300;
	font-size: 16px;
	color: #4b4b4b;
}
.help-container li:not(:last-child) {
	margin-bottom: 9px;
}
.help-container h3{
	font-family: "HelveticaNeueCyr";
	font-weight: 500;
	font-size: 24px;
	color: rgba(1, 22, 43, 0.7);
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 23px;
}
.help-container{
	font-family: "HelveticaNeueCyr";
}
.edit-blok-info{
	max-width: 1140px;
	margin:0 auto;
	background-color: rgba(141,198,63,0.7);
	color: #fff;
	padding: 10px 20px 10px 40px;
	-webkit-transform: skewX(14deg);
	transform: skewX(14deg);
}
.edit-blok-info p{
	transform: skewX(-14deg);
}
@media (max-width: 991px){
	.help-container p, .help-container ul, .help-container ol{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (max-width: 767px){
	.help-container p, .help-container ul, .help-container ol {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 575px){
	.help-container p, .help-container ul, .help-container ol {
		padding:0;
	}
}
@media (max-width: 375px) {
	.calculator-form-wrapper span.wpcf7-form-control-wrap{
		width: 100%;
	}
}