.bg-danger{
	background-color: rgba(255,0,0,0.8) !important;
}
.popup .errors{
	color: red;
}
.popup .error{
	border-color: red;
}
.popup .info{
	color: #0088ff;
	text-align: center;
}
#registration .popup-form-input{
	position: relative;
}
#registration .popup-form-input:nth-child(3)::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 5px;
	transition: width .5s;
}
.popup-form-input:after{
	width: 0;
}
.popup-form-input.bad:after{
	background-color: red;
	width: 20%;
}
.popup-form-input.normal:after{
	background-color: yellow;
	width: 40%;
}
.popup-form-input.good:after{
	background-color: yellow;
	width: 65%;
}
.popup-form-input.strong:after{
	background-color: green;
	width: 100%;
}
.calculator-form-wrapper span.wpcf7-form-control-wrap{
	width: calc(100% - 155px);
}
.calculator-form-wrapper span.wpcf7-form-control-wrap input,.calculator-form-wrapper span.wpcf7-form-control-wrap textarea{
	width: 100%;
}
.error-message .text-error{
	color: red;
}
.error-message .text-success{
	color: green;
}
.bl-pagenavi{
	text-align: center;
}
.bl-pagenavi li{
	display: block;
	float: left;
	background: #fff;
	color: #000;
}
.bl-pagenavi ul{
	list-style: none;
	display: inline-block;
}
.bl-pagenavi li a,.bl-pagenavi li span{
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border:1px solid #999;
}
.bl-pagenavi li a{
	cursor: pointer;
	text-decoration: none;
	color: #666;
}
.bl-pagenavi li.noactive{
	background: #9dce5a;
	color: #fff;
}
.personal-navigation-avatar img{
	height: 100%;
}
.btn-file-image{
	display: none;
}
.about-news-add{
	min-height: 23px;
}
.help-container p, .help-container ul, .help-container ol{
	padding-left: 60px;
	padding-right: 60px;
}
.help-container ul li{
	position: relative;
	padding-left: 20px;
}
.help-container ol li{
	margin-left: 20px;
}

.help-container ul li::before{
	content: '-';
	position: absolute;
	left: 5px;
}
.help-container ul{
	list-style: none;
}
.help-container li{
	font-family: "HelveticaNeueCyr";
	font-weight: 300;
	font-size: 16px;
	color: #4b4b4b;
}
.help-container li:not(:last-child) {
	margin-bottom: 9px;
}
.help-container h3{
	font-family: "HelveticaNeueCyr";
	font-weight: 500;
	font-size: 24px;
	color: rgba(1, 22, 43, 0.7);
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 23px;
}
.help-container{
	font-family: "HelveticaNeueCyr";
}
.edit-blok-info{
	max-width: 1140px;
	margin:0 auto;
	background-color: rgba(141,198,63,0.7);
	color: #fff;
	padding: 10px 20px 10px 40px;
	-webkit-transform: skewX(14deg);
	transform: skewX(14deg);
}
.edit-blok-info p{
	transform: skewX(-14deg);
}
.search-word{
	color: green;
}
#send-mail .info.error{
	color: red;
}
.personal-input-wrapper{
	position: relative;
}
.text-error{
	position: absolute;
	top: calc(100% + 5px);
	font-size: 14px;
	color: red;
	text-align: center;
	right: 0;
	left: 0;
}
.user-pwd::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 5px;
	transition: width .5s;
}
.user-pwd.bad:after {
	background-color: red;
	width: 20%;
}
.user-pwd.normal:after {
	background-color: yellow;
	width: 40%;
}
.user-pwd.good:after{
	background-color: yellow;
	width: 65%;
}
.user-pwd.strong:after {
	background-color: green;
	width: 100%;
}
.user-pwd.bad-copy:after {
	background-color: red;
	width: 20%;
}
.personal-form-row .change-password-button{
	font-size: 16px;
	padding: 15px;
	max-width: 200px;
	margin-left: 0;
}
.change-password-block{
	overflow: hidden;
	height: 0;
	transition: height .3s;
}
.change-password-block.active{
	height: 265px;
}
.change-password-block .button{
	font-size: 16px;
	padding: 15px;
	max-width: 200px;
}
.selected .set-reminder-button path {
	fill: #8dc63f;
}
.reminder-form .button-update,.reminder-form .button-delete{
	width: 110px;
	float: left;
	margin: 0 10px;
}
.reminder-form .button-delete{
	background-color: #e05252;
}
#order-date-end{
	background-image: url(img/icon-calendar.png);
	background-repeat: no-repeat;
	background-position: right 5px center;
}
[name="save-avatar"]{
	border: 1px solid #ebebeb;
	background-color: transparent;
	background-image:url(img/save.svg);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 10px;
	display: none;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.save [name="save-avatar"]{
	display: block;
}
.location-another-select [name=my-city] { width: 315px; height: 39px; padding-left: 20px; padding-right: 20px; background: transparent url("../img/arrow-location.svg") no-repeat right center; border: none; -webkit-transform: skewX(-30deg); transform: skewX(-30deg); font-family: "Myriad Pro"; font-weight: 400; font-size: 14px; color: #ffffff; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
@media (max-width: 991px){
	.help-container p, .help-container ul, .help-container ol{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (max-width: 767px){
	.help-container p, .help-container ul, .help-container ol {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 575px){
	.help-container p, .help-container ul, .help-container ol {
		padding:0;
	}
}
@media (max-width: 375px) {
	.calculator-form-wrapper span.wpcf7-form-control-wrap{
		width: 100%;
	}
}